* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Public Sans;
    width: 100%;
}

.header{
    background-color: white;
    display: flex;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-menu{
    display: flex;
    font-size: 13px;
    margin-right: 200px;
}

.hamburger{
    display: none;
   
}

.nav-item {
    margin-left: 1.5rem;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

.img-logo{
    margin-left: 120px;
    height: 20px;
    margin-right: 145px;
    margin-top: 28px;
}

.img-logo2{
    margin-left: 120px;
    height: 20px;
    margin-right: 145px;
    margin-top: 28px;
}

.nav-link{
    color: hsl(233, 8%, 62%);
    font-weight: 700;
}

.nav-item :hover{
    color: black;
}

.nav-item:hover .bar{
    display: block;
}


.btn-req{
    color: white;
    border-style: none;
    border-radius: 20px;
    font-size: 13px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: rgb(49,211,92);
    background: linear-gradient(120deg, rgba(49,211,92,1) 20%, rgba(43,183,218,1) 80%);
}

.btn-req:hover{
    opacity: 0.5;
}

/* main */
.main{
    margin: 0;
}

.section1{
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    background-color: hsl(0, 0%, 98%);
    width: 600;
}

.div-img-bg-mobi{
    display: none;
    margin-top: 100px;
}
.img-bg{
    margin-top: -260px;
    margin-left: -50px;
    /* margin-right: 20px; */
}

.intro{
    padding-left: 120px;
    padding-top: 120px;
}
.div-img-bg{
    padding-left: 0px;
    margin-left: 0px;
    overflow-y: visible;
}

.next-gen{
    font-size: 50px;
    width: 500px;
    margin-right: -70px;
    font-family: Public Sans;
    font-weight: 300;
    color: hsl(233, 26%, 24%)
}

.para{
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 35px;
    line-height: 25px;
    color: hsl(233, 8%, 62%);
}

.mockups{
    margin-top: -900px;
    margin-left: 130px;
    /* overflow: visible; */
}

/* section2 */
.section2{
    height: 640;
    background-color: hsl(220, 16%, 96%);
  
}

.reasons{
    padding-left: 120px;
    padding-top: 70px;
}

.why-choose{
    font-size: 40px;
    width: 500px;
    margin-right: -70px;
    font-family: Public Sans;
    font-weight: 300;
    color: hsl(233, 26%, 24%)
}

.para2{
    line-height: 25px;
    color: hsl(233, 8%, 62%);
    margin-right: 550px;
    margin-bottom: 80px;
}

.reasons-list{
    display: flex;
    justify-content:space-between;
    padding-left: 120px;
    padding-right: 70px;
    font-family: Public Sans;
    /* margin-bottom: 90px; */
}

.reasons-list p{
    font-size: 15px;
    line-height: 25px;
    padding-right: 14px;
    margin-right: 7px;
    color: hsl(233, 8%, 62%);
    margin-bottom: 90px;
}

/* section3 */
.section3{
    height: 640;
    background-color: hsl(0, 0%, 98%); 
}

.latest{
    padding-left: 0px;
    padding-top: 50px;
    margin-bottom: 40px;
}

.latest-articles-text{
    font-size: 35px;
    width: 300px;
    margin-left: 120px;
    font-family: Public Sans;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.latest-articles-contents{
    display: flex;
    padding-left: 120px;
    padding-right: 70px;
}

.latest-articles-contents h5{
    font-size: 9px;
    color: hsl(233, 8%, 62%);
    margin-right: 20px;
    margin-left: 20px;
}

/* .latest-articles-contents h3{
    font-size: 15px;
    margin-right: 30px;
    margin-left: 20px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 0px;  
    cursor: pointer;
} */

.bar {
    display: none;
    width: 29px;
    height: 3px;
    margin: 5px auto;
    margin-top: 14px;
    margin-bottom: -70px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgb(49,211,92);
    background-color: linear-gradient(120deg, rgba(49,211,92,1) 20%, rgba(43,183,218,1) 80%);

}

.articles-topic {
    font-size: 15px;
    margin-right: 30px;
    margin-left: 20px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 0px;  
}

.latest-articles-contents a :hover{
    color: hsl(136, 65%, 51%);
}

.latest-articles-contents p{
    font-size: 11px;
    color: hsl(233, 8%, 62%);
    margin-right: 30px;
    margin-left: 20px;
}
.articles{
    background-color: white;
    width: 240px;
    margin-right: 20px;
    margin-bottom: 80px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.img-currency{
    height: 190px;
    width: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* footer */
.footer{
    background-color:hsl(233, 26%, 24%);
    display: flex;
    padding: 40px 0px 20px 10px;
}

.footer-logos{
    margin-right: 70px;
}

.socials-logo{
    margin-left: 120px;
    margin-top: 50px;
    min-width: 170px;
    
}

.socials{
    margin-right: 12px;
}

.list{
    display: flex;
    font-size: 13px;
    color: hsl(220, 16%, 96%);
    font-weight: 100;
    line-height: 30px;
    margin-top: 2px;
}
.list a{
    color: hsl(220, 16%, 96%);
}

.list a :hover{
    color: hsl(136, 65%, 51%);
}

.list-left{
    margin-right: 120px;
    min-width: 70px;
}

.list-right{
    min-width: 90px;
  
}

.btn-text h5{
    margin-left: 150px;
    color: hsl(233, 8%, 62%);
}

.btn-text button{
    margin-left: 210px;
}




/* for mobile */
@media only screen and (max-width: 600px) {

.header{
    display: flex;
}
.navbar{
        position: fixed;
        right: 100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 300px;
        margin-right: 40px;
        height: 260px;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-menu{
    display: block;
    
    margin-left: 130px;
}

.nav-item{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 100;
}

.navbar button{
    display: none;
}
.navbar.active {
    right: 0;
}
.hamburger {
    display: block;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 14px;
}

.img-logo{
    margin: 15px 0px 20px 30px;
}

.img-logo2{
    margin-left: 110px;
}


.section1{
    display: block;
    overflow-y: visible;
}

.div-img-bg-mobi{
    display: block;
    margin-top: 0px;
}
.div-img-bg{
    display: none;
}

.img-bg{
    width: 770px;
    height: 600px;
    margin-top: -270px;
    margin-left: -200px;
    padding-top: 150px;
}
.mockups{
    margin-top: -600px;
    margin-left: 0px;
    height: 450px;
    /* overflow: visible; */
}
.nav-item:hover .bar{
    display: none;
}
.intro{
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 80px;
}
.next-gen{
    font-size: 40px;
    width: 400px;
    padding-right: 20px;
}
.para{
    margin-right: 0px;
    margin-top: -20px;
    margin-bottom: 35px;
}


/* section2 */
.section2{
    text-align: center;
}
.reasons{
    padding-left: 0px;
    padding-top: 50px;
    margin-bottom: 130px;
}

.reasons-list{
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
}

.reasons-list p{
    padding-right: 0px;
    margin: 0px 20px 90px 20px;
}

.reasons-item{
    margin-top: -40px;
}

.why-choose{
    font-size: 30px;
    width: 340px;
    padding-right: 30px;
    margin-right: 0px;
    margin-left: 27px;
}

.para2{
    margin-right: 0px;
    margin-bottom: 70px;
}

.latest-articles-contents{
    display: block;
    padding-left: 40px;
    padding-right: 0px;
    margin-right: 20px;
    padding-bottom: 10px;
}
.latest{
    text-align: center;
    margin-right: 50px;
    margin-left: 4px;
}
.latest-articles-text{
    margin-left: 40px;
}

.articles{
    width: 300px;
    padding-bottom: 30px;
}

.img-currency{
    width: 300px;
}

/* footer */
.footer{
    display: block;
    padding: 40px 0px 20px 10px;
}


.socials-logo{
    margin: 20px 0px 20px 90px;
}

.socials{
    height: 25px;
}

.list{
    display: block;
    text-align: center;
    width: 300px;
}

.list-left{
    margin-right: -20px;
}

.list-right{
    margin-right: -20px;
}

.btn-text h5{
    margin-left: 75px;
    margin-right: 70px;
}

.btn-text button{
    margin-left: 105px;
}
}
